{
    "project": [
        "project/.gitignore",
        "project/README.md.gdpu",
        "project/Cargo.toml.gdpu",
        "project/src/main.rs.gdpu",
        "project/resources/display_config.ron.gdpu",
    ]
}
